/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	section p {
		/*font-size: 18px !important;*/
	}
	.top-logo-wrap p {
		position: static;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.gallery .fa {
		position: absolute;
		top: -50px;
		z-index: 2;
	}
	.prev-button {
		left: -15px;
	}
	.next-button {
		right: -15px;
	}
	.part-circle {
		top: 20px !important
	}
	.photo-partners {
		margin-bottom: 20px !important;
	}
	.fifth-partners {
		float: none !important;
	}
	.list a {
		display: block;
	}
	footer {
		background: #7c756f !important;
		padding-top: 0 !important;
	}
	footer h4 {
		margin-top: 20px;
	}
	#subscription input {
		width: 60% !important;
		height: 
	}
	footer .fa-envelope-o {
		margin-bottom: 30px;
	}
		.top-logo-wrap p {
		position: absolute;
	}
	nav {
		width: 100%;
		background-color: #fdc84e;
	}
	nav ul {
		padding: 0;
	}
	nav ul li {
		padding-left: 0;
	}
	h1 {
		margin-top: 50px;
	}
	.callback {
		margin-right: 0;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	h1 {
		font-size: 35px !important;
		margin: 20px 0 !important;
	}
	h2 {
		font-size: 30px !important;
		margin: 20px 0 !important;
	}
	#reviews {
		padding-bottom: 50px;
	}
	#company {
		padding-top: 50px;
	}
	.top-logo-wrap img {
		margin-bottom: 10px;
	}
	nav ul li {
		float: none !important;
	}
}
/* Extra Small Devices */
@media only screen and (max-width : 600px) {
	
}

